## List

<!-- Lists are collection in python, and they are heterogeneous in nature.
They can store multiple elements which belong to multiple data types/classes
empty_list=[ ]
we seperate elements in list by ','
lists are ordered and sequence in nature.
lists are +ve and -vely indexable and also +ve and -vely sliced
lists are mutable, changes happen in same memory location.
list are dynamic in -->

### Creating a List
You can create a list by enclosing items in square brackets [ ].

### Accessing Elements:
You can access elements in a list using indexing. Python uses zero-based indexing, so the first element is at index 0.
Negative indexing is also possible, where -1 refers to the last element, -2 to the second-to-last, and so on.

### Slicing:
You can extract a portion of the list using slicing.

### Modifying Lists:                           
You can change the value of a specific element by assigning a new value.

### Adding and Removing Elements: 
Appending: Add an element to the end of the list using append().
Inserting: Insert an element at a specific position using insert().
Removing: Remove an element by value using remove().
Popping: Remove and return an element by index using pop().

### List Length:
You can find the length of a list using len().

### Iterating through a List:
You can use a loop to go through each item in a list.

In [14]:
g = [ ]
print(g, type(g), len(g), id(g), hex(id(g)), sep='\n') #length of empty string is zero

[]
<class 'list'>
0
2726801033024
0x27ae201c740

In [23]:
l = list()
print(l, type(l), len(l), hex(id(l)), sep = '\n')

[]
<class 'list'>
0
0x27ae2010ec0

In [24]:
l = ['Architha'] # if we use sqaure braces it will directly take the string
print(l, type(l), len(l), hex(id(l)), sep = '\n')

['Shiva']
<class 'list'>
1
0x27ae2022bc0

In [26]:
l = list('Architha') # it will take the string into the sub-strings if we use the list "keyword" and add to the new string.
print(l, type(l), len(l), hex(id(l)), sep = '\n')

['S', 'h', 'i', 'v', 'a']
<class 'list'>
5
0x27ae1fb7fc0

In [11]:
S = ['Architha', 7, 7.2, 5-3j, 'Seven', True, print, range]
S

['Shiva',
 7,
 7.2,
 (5-3j),
 'Seven',
 True,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 range]

## Indexing and Slicing in Lists

In [12]:
#Example
list1 = ["Shiva", "Arun", "Joshi"] 
list2 = ["Sajap", 77, True, 4.0, "Male"]
print(list2[0], list2[-1]) #indexing
print(list2[::], list2[::-1], sep ='\n') #slicing

print(list1, type(list1), id(list1), sep ='\n')
print(list2, type(list2), id(list2), sep ='\n')

Sajap Male
['Sajap', 77, True, 4.0, 'Male']
['Male', 4.0, True, 77, 'Sajap']
['Shiva', 'Arun', 'Joshi']
<class 'list'>
2726801038080
['Sajap', 77, True, 4.0, 'Male']
<class 'list'>
2726801059904

In [20]:
y='Pravallika'
y[0],y[::],y[::-1]

('P', 'Pravallika', 'akillavarP')

In [28]:
x = 'Architha Pravallika'
list(x) # takes each individually

['A',
 'r',
 'c',
 'h',
 'i',
 't',
 'h',
 'a',
 ' ',
 'P',
 'r',
 'a',
 'v',
 'a',
 'l',
 'l',
 'i',
 'k',
 'a']

In [17]:
set(list(x)) #takes unique elements only

{' ', 'A', 'P', 'a', 'c', 'h', 'i', 'k', 'l', 'r', 't', 'v'}

In [29]:
len(set(list(x)))

12

## Nested list
### A list within another list is referred to as a nested list in Python. We can also say that a list that has other lists as its elements is a nested list.

In [37]:
l=[1,2,3,[4,5,6]]

print(l, type(l), len(l), hex(id(l)), sep ='\n')

[1, 2, 3, [4, 5, 6]]
<class 'list'>
4
0x27ae2011580

In [36]:
type(l[3]), l[3], l[3][0], l[3][::-1], l[3][::-2], l[3][2]

(list, [4, 5, 6], 4, [6, 5, 4], [6, 4], 6)

## Range
<!-- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

Typecasting: Type casting, also known as type conversion, is an important concept in Java that allows us to convert one data type into another. It is useful when we need to perform operations on different data types or when you want to store a value of one data type into a variable of another data type, Default values of starting is zero and step is +1.

syntax: range(start,end,step) end means till end not including end. -->

In [43]:
r = range(1, 11)
print(r, type(r), len(r), hex(id(r)), sep='\n')

range(1, 11)
<class 'range'>
10
0x27ae1fafe40

In [44]:
list(r)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
r = range(11,0,-1)
print(list(r), type(r), len(r), hex(id(r)), sep='\n')
# included numbers from 20 to 1 backwards , didnt include 0 , step was -1 so it is in decreasing order.

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'range'>
11
0x27ae1fad560

In [46]:
r = range(10, 1, -1)
print(r, type(r), len(r), hex(id(r)), sep = '\n')

range(10, 1, -1)
<class 'range'>
9
0x27ae1faf420

In [47]:
list(r)

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [41]:
range(5) #if we mention only 1 number so range takes it as end point and starts it from 0.

range(0, 5)

In [48]:
list(range(0,11,1)), list(range(0,11))

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [49]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

## append()
### the append() method is used to add an element to the end of a list. Lists are a built-in data type in Python that can hold multiple values. The append() method is a list method that modifies the list in place by adding the specified element to the end of the list.

Here's the basic syntax for the append() method:

list_name.append(element)
list_name: The name of the list to which you want to add an element.
element: The value you want to add to the end of the list.

Example:

In [50]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [51]:
my_list = [1, 2, 3]
my_list.append([4, 5])  # Appends the entire list as a single element
print(my_list)

[1, 2, 3, [4, 5]]

## Extend()

In [52]:
my_list = [1, 2, 3]
my_list.extend([4, 5])  # Extends the list with individual elements
print(my_list)

[1, 2, 3, 4, 5]

In [53]:
my_list = [1, 2, 3]
my_list = my_list + [4, 5]
print(my_list)

[1, 2, 3, 4, 5]

## Insert()
### It allows you to insert an element at a specific index in a list.

In [54]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 6)  # Inserts 6 at index 2
print(my_list)

[1, 2, 6, 3, 4, 5]

## Count()

In [55]:
[1,2,3,4,1,2,3,5,6,1,2,7,5].count(2)

3

## Remove()
### Removes given element's first occurance from left to right.

syntax: list.remove('a')

In [56]:
x  = list('malayalam')
x

['m', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [57]:
x.remove('a')
x

['m', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

## Pop()
### pop gives back the last value from the list by default and removes that value from the list if you print it after that. If you mention the index number so it will give it back and remove kit from the list.

In [58]:
l = [0,1,2,3,4,5] # 5 will be taken out and return to user.
l.pop()

5

In [59]:
a = l.pop()
a,l

(4, [0, 1, 2, 3])

In [ ]:
l.pop(1)

## Tuple()
### A tuple in Python is a collection of ordered, immutable elements. This means that once you create a tuple, you cannot change its contents. Tuples are defined using parentheses (). Tuples, unlike lists, cannot be modified once they are created. This immutability provides safety for data that should not be changed accidentally.

<!-- Returning multiple values from functions.
Storing data that should not be changed.
Data integrity and safety.
Dictionary keys (since they need to be immutable types).
Limited methods due to immutability - count() and index() being some of the main ones.
They can contain a mix of different data types.
Tuples are versatile and efficient data structures in Python, offering a way to store data securely when immutability is desired. -->

In [2]:
my_tuple = (1, 2, 3, 'apple', 'banana')
empty_tuple = ()
single_element_tuple = (5,)  # Note the comma after the single element

In [3]:
my_tuple = (1, 2, 3, 'apple', 'banana')
print(my_tuple[0])  # Accesses the first element: 1
print(my_tuple[1:4])  # Slices elements from index 1 to 3: (2, 3, 'apple')

1
(2, 3, 'apple')

## Count()
### Counts the number of occurrences of a specified value in the tuple.

In [9]:
my_tuple = (1, 2, 2, 3, 2, 'apple')
count_2 = my_tuple.count(2)  # count of occurrences of '2'
print(count_2)

3

## Index()
### Returns the index of the first occurrence of a specified value.

In [10]:
my_tuple = ('a', 'b', 'c', 'b')
index_b = my_tuple.index('b')  # Returns 1 (index of the first occurrence of 'b')
index_b

1